body {
			padding: 20px;
			color: #222;
			background: #fff;
		}

		span { display: block; }

		.font-demo {
			display: inline-block;
			margin: 5px 0 20px;
			padding: 10px;
			border: 1px dotted #555;
			font-family: Roboto;
			font-size: 24px;
		}