<footer class="vertical-padding-sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<select class="form-control select-menu input-block-level" onchange="this.options[this.selectedIndex].value &amp;&amp; (window.location = this.options[this.selectedIndex].value);">                            
                    <option value="https://www.callitme.com/register">Register</option>
                    <option value="https://www.callitme.com/login">Log In</option>
                    <option value="https://www.callitme.com/import">Find Connections</option>
                    <option value="https://www.callitme.com/directory/people">People Directory</option>
                    <option value="https://www.callitme.com/directory/public-personality">Public Directory</option>
                    <option value="https://www.callitme.com/company/about">About</option>
                    <option value="https://www.callitme.com/careers">Careers</option>
                    <option value="https://www.callitme.com/activity">Pricing</option>
                    <option value="https://www.callitme.com/pages/">Advertising</option>
                    <option value="https://www.callitme.com/company/support">Help &amp; Support</option>
                    <option value="https://www.callitme.com/company/terms">Terms</option>
                    <option value="https://www.callitme.com/blog"> Blog </option>
                    <option value="https://www.callitme.com/company/privacypolicy"> Privacy</option>
                    <option value="https://www.callitme.com/activity"> Callitme Activities</option> 
                    <option value="">Social Dating</option>
                    <option value="">MatchMaking</option>
                    <option value="https://www.callitme.com/localpeople">Local People </option>
                </select>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p class="copy"> &copy; Callitme 2016. All rights reserved.<br>System for Anonymous Messaging, Reviewing, Quantifying, Matching and Searching protected by US Patent.</p>
			</div>
		</div>
	</div>
</footer>