<header id="header" class="secondary-bg fullWidth top clearfix">
    <div class="container">
		<div class="row text-center">
			<div class="col-xs-4">
				<a href=""><img src="m_assets/images/logo-sm.png" class="img-responsive" alt=""></a>
			</div>
			<div class="col-xs-8 text-right">
				<p class="pull-right">
					<a  href="javascript:ajaxpage('pages/login.php', 'includePageContent');" class="navigationLink white-text">Login</a> | <a href="" class="white-text">Register</a>
				</p>
			</div>
		</div>
	</div>
</header>